apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: sample-spring-admin
  name: sample-spring-admin
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app.kubernetes.io/name: sample-spring-admin
  type: ClusterIP