apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: sample-spring-k8s
    spring-boot: "true"
  name: sample-spring-k8s
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app.kubernetes.io/name: sample-spring-k8s
  type: ClusterIP