version: 2.1

jobs:
  analyze:
    docker:
      - image: 'cimg/openjdk:21.0.9'
    steps:
      - git-shallow-clone/checkout_advanced:
          clone_options: '--filter=blob:none'
      - run:
          name: "Git fetch"
          command: git fetch --no-filter --refetch
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar -DskipTests
  deploy-k8s:
    executor: machine_executor_amd64
    steps:
      - checkout
      - run:
          name: Install Kubectl
          command: |
            curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
      - run:
          name: Install Skaffold
          command: |
            curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
            chmod +x skaffold
            sudo mv skaffold /usr/local/bin
      - run:
          name: Install Kind
          command: |
            [ $(uname -m) = x86_64 ] && curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.20.0/kind-linux-amd64
            chmod +x ./kind
            sudo mv ./kind /usr/local/bin/kind
      - run:
          name: Create Kind Cluster
          command: |
            kind create cluster --name c1
      - run:
          name: Deploy to K8s
          command: |
            skaffold run
      - run:
          name: Delete Kind Cluster
          command: |
            kind delete cluster --name c1

orbs:
  maven: circleci/maven@2.1.1
  git-shallow-clone: guitarrapc/git-shallow-clone@2.8.0

executors:
  machine_executor_amd64:
    machine:
      image: ubuntu-2204:current
    environment:
      architecture: "amd64"
      platform: "linux/amd64"

workflows:
  build:
    jobs:
      - maven/test:
          command: 'verify'
          executor: machine_executor_amd64
      - analyze:
          context: SonarCloud
#      - deploy-k8s