apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-kafka-consumer
spec:
  selector:
    matchLabels:
      app: spring-kafka-consumer
  template:
    metadata:
      labels:
        app: spring-kafka-consumer
    spec:
      containers:
      - name: spring-kafka-consumer
        image: piomin/spring-kafka-consumer
        resources:
          requests:
            memory: 200Mi
            cpu: 100m
        ports:
        - containerPort: 8080