kind: ConfigMap
apiVersion: v1
metadata:
  name: load-test-cm
data:
  load-test.js: |
    import {
      Writer,
      SchemaRegistry,
      SCHEMA_TYPE_STRING,
      SCHEMA_TYPE_JSON,
    } from "k6/x/kafka";
    const writer = new Writer({
      brokers: ["my-kafka.kafka:9092"],
      topic: "info",
    });
    let localCounter = 1;
    const schemaRegistry = new SchemaRegistry();
    export default function () {
      writer.produce({
        messages: [
          {
            key: schemaRegistry.serialize({
              data: "" + localCounter++,
              schemaType: SCHEMA_TYPE_STRING,
            }),
            value: schemaRegistry.serialize({
              data: {
                id: localCounter,
                message: "HELLO"
              },
              schemaType: SCHEMA_TYPE_JSON,
            }),
            headers: {
              "__TypeId__": "pl.piomin.services.kafka.consumer.message.Info"
            }
          },
        ],
      });
    }
    
    export function teardown(data) {
      writer.close();
    }
---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-test
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app.kubernetes.io/name: k6-test
    spec:
      restartPolicy: Never
      containers:
        - name: xk6-kafka
          image: mostafamoradian/xk6-kafka:latest
          command:
            - "k6"
            - "run"
            - "--vus"
            - "3"
            - "--duration"
            - "1s"
            - "/tests/load-test.js"
          volumeMounts:
            - mountPath: /tests
              name: test
      volumes:
        - name: test
          configMap:
            name: load-test-cm
