apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: sample-spring-k8s
  name: sample-spring-k8s
spec:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: 8443
  selector:
    app.kubernetes.io/name: sample-spring-k8s
  type: ClusterIP